.switchable.active {
    display: block;
}

.switchable {
    display: none;
}

.node {
      stroke: #000;
      stroke-width: 1.5px;
    }

.link {
  stroke: #ccc;
  stroke-opacity: .6;
}

#viz {
    height: 100%;
}

.navbar.navbar-default .nav.nav-pills a{
    color: #333333;
}

.navbar.navbar-default .btn,
.navbar.navbar-default .nav.nav-pills .active a{
    background-color: #777777;
    color: #fefefe;
}

.navbar.navbar-right {
    padding: 8px 15px;
}

.content {
    width: 100%;
    background: #f4f4f4;
    position: absolute;
    display: block;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.panel {
    position: relative;
    min-height: 520px;
    margin: 0;
    padding: 0;
}

.overflowing {
    white-space: nowrap;
    text-overflow: ellipsis;
}

#context-menu {
    padding: 6px 0;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #bbb;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    position: absolute;
    background-color: #f3f3f3;
    z-index: 100;
    display: none;
    width: 175px;
}

#context-menu ul {
    padding: 0 0;
}

#context-menu li {
    cursor: default;
    float: left;
    display: block;
    width: 100%;
    font-size: 13px;
    line-height: 13px;
    font-weight: 300;
    padding: 6px 12px;
}

#context-menu li.disabled {
    color: #cccccc;
}

#context-menu li.disabled:hover,
#context-menu li.disabled:focus {
    color: #cccccc;
    background-color: transparent;
}

#context-menu li:hover,
#context-menu li:focus{
    background-color: #999999;
    color: #f7f7f7;
}